body {
  color: white;
  background-image: url("https://images.pexels.com/photos/1526/dark-blur-blurred-gradient.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500");
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
}
button{
  border: 1px solid white;
  border-radius: 5px;
  background-color: lightgreen;
}
.heading {
  width: 100%;
  height: fit-content;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
}
.heading h4 {
  font-style: italic;
  margin-left: 10px;
  float: left;
}
.heading ul{
  float:right;
  margin-top:20px;
  margin-right:10px;
  list-style-type:none;
}
.heading ul li{
  float:left;
  margin-right:15px;
}
.main {
  padding: 100px;
}
.wrapper {
  /* margin-top: 100px; */
  float: left;
  width: fit-content;
  height: 100%;
  background-color: rgba(236, 236, 236, 0.151);
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrapper h3,
h5,
h6 {
  margin: 5px;
}
.cover-image {
  padding-top: 30px;
  width: 200px;
}
.text {
  /* float: right; */
  text-align: left;
  padding: 20px;
}
.text img {
  width: 30px;
  border: 1px solid white;
  border-radius: 50px;
  margin: 5px 10px;
  float: left;
}
.text h5 {
  padding-top: 12px;
}
.text .btn-select {
  clear: both;
  display: block;
  margin: 30px 10px;
  width: 300px;
  height: 30px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.main h4 {
  margin: 10px 50px;
  font-style: italic;
  font-size: larger;
}
.accessBtn{
  float: left;
  margin: 20px;
}
.tracklist {
  padding: 0 10px;
  width: 650px;
  float: right;
  column-count: 2;
}
.track {
  padding: 5px;
  background-color: rgba(236, 236, 236, 0.151);
  border-radius: 10px;
  margin: 10px;
  height: 55px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
}
.track-cover {
  width: 50px;
  float: left;
  padding: 2px 5px;
}

.section2 {
  clear: both;
  height:200px;
  padding:100px;
}
.form-p{
  margin: 40px 10px;
  font-size: 20px;
}
.form-p p{
  font-size: 15px;
  margin:2px;
  text-align: left;
  padding-left:15px;
}
.form-c{
  border-radius: 5px;
  border: 1px solid darkgray;
  margin:10px;
  height:30px;
  width: 300px;
}
textarea{
  margin:10px;
  width:300px;
  height: 100px;
  border-radius: 5px;
  border: 1px solid darkgray;
}